@import url('Fonts/Computer Modern/Bright/cmun-bright.css');
@import url('Fonts/Computer Modern/Bright Semibold/cmun-bright-semibold.css');
@import url('Fonts/Computer Modern/Classical Serif Italic/cmun-classical-serif-italic.css');
@import url('Fonts/Computer Modern/Concrete/cmun-concrete.css');
@import url('Fonts/Computer Modern/Sans/cmun-sans.css');
@import url('Fonts/Computer Modern/Sans Demi-Condensed/cmun-sans-demicondensed.css');
@import url('Fonts/Computer Modern/Serif/cmun-serif.css');
@import url('Fonts/Computer Modern/Serif Slanted/cmun-serif-slanted.css');
@import url('Fonts/Computer Modern/Typewriter/cmun-typewriter.css');
@import url('Fonts/Computer Modern/Typewriter Light/cmun-typewriter-light.css');
@import url('Fonts/Computer Modern/Typewriter Variable/cmun-typewriter-variable.css');
@import url('Fonts/Computer Modern/Upright Italic/cmun-upright-italic.css');

body {
    font-family: 'Computer Modern Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    padding-top: 40px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(226, 226, 226);
    padding: 10px;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: 700
}

a:hover {
    background-color: #b9b9b9;
    text-decoration: underline;
}

section {
    padding: 20px;
    display: none;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: 600
}

section a {
    text-decoration: none;
    border: none;
}

section a:hover {
    border: none;
}

h1,
h2 {
    color: #007BFF;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #030303;
    text-decoration: none;
    font-weight: 700
}


footer {
    text-align: center;
    background-color: #f8f9fa;
    padding: 10px;
    border-top: 1px solid #ced4da;
}

/* Topological Style */

header::before,
section::before,
footer::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
}

header::before {
    border-width: 20px 25px 0px 25px;
    border-color: #ffffff transparent transparent transparent;
}

section::before {
    border-width: 0px 25px 20px 25px;
    border-color: transparent transparent #ffffff transparent;
}

footer::before {
    border-width: 0 25px 20px 25px;
    border-color: transparent transparent #f8f9fa transparent;
}

section ul li {
    margin: 5px 0;
    /* Adjust as needed */
    padding: 5px 0;
    /* Adjust as needed */
}